<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2020</span>
    </div>
</footer>

<!-- para a footer ficar no final da pagina quando n tiver conteudo suficiente
usar mt-auto no footer e no boilerplate, dar as classes d-flex flex-column vh-100 para o body  -->


